name: Lint

on:
  push:
    branches:
      - '**'
      
env:
  GO_VERSION: 1.21.2

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false

      - name: Install Dependencies
        run: go mod tidy

      - name: Install Utilities
        run: |
          go install go.uber.org/mock/mockgen@v0.2.0

      - name: Generate Mocks
        run: go generate ./...

      - name: Analyze Syntax
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54

