name: Release

on: workflow_dispatch

env:
  NODE_VERSION: 18
  GO_VERSION: 1.21.2


jobs:
  release:
    runs-on: ubuntu-latest

    # A new permissions key supported at the workflow and job level enables you
    # to specify which permissions you want for the token. Any permission that
    # is absent from the list will be set to none.
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

